/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.card_container {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.card_container_small {
    padding: 10px 20px;
}

.card_flex_cotainer {
    display: flex;
}

.card_container_xs {
    width: 88%;
    margin: 0 auto;
}

.card_container img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card_container a{
    color: inherit;
    text-decoration: none;
}

.card_btn {
    background-color: #f2b203;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 15px;
}

.fa-solid.fa-arrow-up-long {
    rotate: 40deg;
}

/* CARD IMAGE -------------------------------*/
.card_heart a{
    position: absolute;
    background-color: white;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    color: black;
}

.card_heart a:hover {
    color: rgb(198, 19, 19);
}

/* CARD TITLE -------------------------------*/
.card_title h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* CARD REVIEW -------------------------------*/
.card_review {
    color: #5f5f5f;
}

.card_review_square, .card_all_review {
    display: inline-block;
    vertical-align: middle;
}

/* Review Square ----------------*/
.card_review .card_review_square {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00aa6c;
    display: inline-block;
}

/* All review -----------------*/
.card_all_review a{
    text-decoration: underline dotted;;
}

/* Best of ----------------------*/
.card_review .card_best_of p{
    font-size: 0.95rem;
    padding: 5px 0;
}

/* Service Offered + Security ----*/
.card_security {
    padding: 7px 0;
}
.card_services_icons, 
.card_services_description {
    display: flex;
    flex-direction: column;
} 

.card_services_icons i, 
.card_services_icons a, 
.card_services_description span,
.card_services_description a {
    line-height: 20px;
    padding-right: 2.5px;
}

.card_services_description a,
.card_security_description a  {
    text-decoration: underline dotted;
}

.card_security_icons a,
.card_security_description a {
    line-height: 20px;
    padding-right: 5px;
}

/* PRINCE & CONDITIONS ---------------------------------*/
/* Offers ---------------------*/
.card_price_offer {
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.card_price_offer h4 {
    font-weight: 400;
    color: red;
    text-decoration: line-through;
    line-height: 5px;
}

.card_price_offer h3 {
    font-size: 30px;
    padding-top: 5px;
}

/* Expedia Web ------------------*/
.card_expedia {
    font-size: 1.1rem;
    font-weight: 300;
}

/* Cancel Condition --------------*/
.card_container.small .card_calcel_condition {
    padding: 10px 0;
    border-bottom: 1px solid #dedede;
}

.card_yes {
    font-size: 1.3rem;
    line-height: 30px;
}

.card_yes i {
    line-height: 30px;
    margin-right: 10px;
}

.card_yes h5 {
    font-weight: 400;
}

.card_yes h4 {
    font-weight: 500;
}

/* Other offer -----------*/
.card_other_offer {
    text-align: center;
    padding: 10px 0;
}


/* ---------------------------------------------- 
                    BIG SCREEN
-------------------------------------------------*/

/* COMMON */

.card_container.big .card_img {
    width: 25%;
    position: relative;
}

.card_container.big .card_container_small {
    flex-direction: column;
    width: 75%;
    padding: 10px 0 ;
}

/* Order*/
.card_container.big .card_price_conditions {
    order: 1;
}

.card_container.big .card_other_offer {
    order: 2;
}

.card_container.big .card_review {
    order: 3;
}

/* Card Title */
.card_container.big .card_title h2 {
    font-size: 1.5rem;
    padding-left: 17px;
}

/* Card Img  */
.card_container.big .card_heart a{
    top: 10px;
    right: 10px;
}

/* Services Offered + Security */
.card_container.big .card_small_view {
    display: block;
}

/* PRICE & CONDITIONS */
.card_container.big .card_price_conditions {
    width: 35%;
    border-right: 2px dotted #dedede;
}
.card_container.big .card_price_offer {
    text-align: center;
}

.card_container.big .card_expedia img{
    width: 130px;  
}

.card_container.big .card_expedia {
    justify-content: center;
    padding-bottom: 10px;
}

.card_price {
    padding: 10px 0 15px 0;
}
    
.card_container.big .card_price h4 {
    font-size: 1.8rem;
}

.card_container.big .card_price h3 {
    font-size: 1.9rem;
    padding-top: 15px;
}

.card_container.big .card_btn {
    padding: 15px 30px;
}

/* Cancel Condition */
.card_container.big .card_container.big .card_calcel_condition {
    border: none;
}

/* Other offer */
.card_container.big .card_other_offer {
    width: 25%;
    border-right: 2px dotted #dedede;
}

.card_container.big .card_top_other_offer {
    border-bottom: 2px solid #dedede;
}

.card_container.big .card_different_price {
    padding-bottom: 20px;
    font-size: 1.2rem;
}

.card_container.big .card_different_price h4{
    font-size: 1.25rem;
    font-weight: 400;
}

.card_container.big .card_different_price.booking h4 {
    color: red;
}

.card_container.big .card_bottom_other_offer {
    padding-top: 15px;
}

/* Card Review  */
.card_container.big .card_review {
    width: 40%;
}

.card_container.big .card_review .card_review_square {
    width: 20px;
    height: 20px;
}

 /* Best Of */
 .card_container.big .card_review .card_best_of p {
    padding: 10px 0;
}

/* Services Offered + Security */
.card_container.big .card_services_offered {
    padding: 10px 0;
}

.card_container.big .card_services_icons i,
.card_container.big .card_services_description span,
.card_container.big .card_services_description a {
    padding-bottom: 5px;
}