/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMON */
.card_container {
    padding: 5px;
    font-family: 'Roboto', sans-serif;
}

.card_container_small {
    padding: 10px 20px;
}

.card_flex_cotainer {
    display: flex;
}

.card_container img {
    width: 100%;
    display: block;
    position: relative;
}

.card_container a{
    color: inherit;
    text-decoration: none;
}

.card_btn {
    background-color: #f2b203;
    font-size: 20px;
    font-weight: 500;
    padding: 15px 20px;
    border-radius: 15px;
}

/* CARD IMAGE -------------------------------*/
.card_heart a{
    position: absolute;
    background-color: white;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 36px;
    display: inline-block;
    border-radius: 50%;
    color: black;
}

.card_heart a:hover {
    color: rgb(198, 19, 19);
}

/* CARD TITLE -------------------------------*/
.card_title h2 {
    font-size: 1.2rem;
    padding-bottom: 10px;
}

/* CARD REVIEW -------------------------------*/
.card_review {
    color: #5f5f5f;
}

.card_review_square, .card_all_review {
    display: inline-block;
    vertical-align: middle;
}

/* Review Square  */
.card_review .card_review_square {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00aa6c;
    display: inline-block;
}

/* All review */
.card_all_review a{
    font-size: 0.9rem;
    border-bottom: 1px dotted;
}

/* Best of */
.card_review .card_best_of p{
    font-size: 0.95rem;
}

/* Service Offered + Security*/
.card_small_view {
    display: none;
}

.card_security {
    padding: 7px 0;
}
.card_services_icons, 
.card_services_description {
    display: flex;
    flex-direction: column;
} 

.card_services_icons i, 
.card_services_icons a, 
.card_services_description span,
.card_services_description a {
    line-height: 20px;
    padding-right: 2.5px;
}

.card_services_description a,
.card_security_description a  {
    border-bottom: 1px dotted;
}

.card_security_icons a,
.card_security_description a {
    line-height: 20px;
    padding-right: 5px;
}

/* PRINCE & CONDITIONS ---------------------------------*/
/* Offers */
.card_price_offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.card_price_offer h4 {
    font-weight: 400;
    color: red;
    text-decoration: line-through;
}

.card_price_offer h3 {
    font-size: 30px;
}

/* Expedia Web */
.card_expedia {
    font-size: 1.1rem;
    font-weight: 300;
}

/* Cancel Condition */
.card_check_icons, 
.card_calcel_info {
    flex-direction: column;
    padding-right: 10px;
}

.card_check_icons i, 
.card_calcel_info h4 {
    font-size: 20px;
}

.card_calcel_info h5 {
    font-size: 15px;
    font-weight: 400;
}

.card_check_icons i, 
.card_calcel_info h4 ,
.card_calcel_info h5 {
    line-height: 28px;
}

@media screen and (min-width: 992px){
    /* Services Offered + Security */
    .card_small_view {
        display: block;
    }

    .card_security {
        display: none;
    }
}